<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tasks</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">STATUS</th>
        <th scope="col"/>
        <th scope="col"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task,number : ${tasks}">
        <td th:text="${task.id}"/>
        <td th:text="${task.description}" th:id="'description_' + ${task.id}"/>
        <td th:text="${task.status}" th:id="'status_' + ${task.id}"/>
        <td>
            <button th:id="'edit_' + ${task.id}" th:onclick="'edit_task(' + ${task.id} + ')'">Edit</button>
        </td>
        <td>
            <button th:id="'delete_' + ${task.id}" th:onclick="'delete_task(' + ${task.id} + ')'">Delete</button>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>New Task:</td>
        <td>
            <input id='description_new' type='text' value=''>
        </td>
        <td>
            <label for='status_new'></label>
            <select id='status_new'>
                <option value='IN_PROGRESS'>IN PROGRESS</option>
                <option value='DONE'>DONE</option>
                <option value='PAUSED'>PAUSED</option>
            </select>
        </td>
        <td>
            <button id='save_new' onclick='add_task()'>Add</button>
        </td>
    </tr>
    </tbody>
</table>
<h2>
    <button th:each="pageNumber : ${page_numbers}" type="button" class="btn btn-outline-secondary">
        <a th:href="@{/(page=${pageNumber}, limit=10)}" th:text="${pageNumber}"
           th:classappend="${pageNumber == current_page? 'active_page' : ''}"></a>
    </button>
</h2>

<script src="/script/jquery-3.6.4.min.js"></script>
<script src="/script/crud.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
